fastapi
uvicorn
python-dotenv
google-cloud-aiplatform[agent_engines,adk]==1.91.0
google-cloud-storage
httpx
python-jose
pydantic
aiofiles
asyncpg
google-cloud-secret-manager
psycopg2-binary
setuptools
wheel
pydantic[email]
asyncpg==0.30.0
jinja2==3.1.2